
<!DOCTYPE html>
<html lang="en">
<head>
  <title>DjangoDude B20</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
<br>
<br>



  <hr>
  <h2>Alive Coupons</h2>
  <p></p>
  <div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th>#</th>
        <th>User Id</th>
        <th>Coupon Code</th>
        <th>Coupon Date</th>
        <th>Expiry Date</th>
      </tr>
    </thead>
    <tbody>
    {% for c in coupons %}
    <tr>
        <td>*</td>
        <td>{{c.userid.userid }}</td>
        <td>{{ c.couponcode }}</td>
        <td>{{ c.coupondate }}</td>
        <td>{{ c.expirydate }}</td>

      </tr>
    	
	{% endfor %}
      
    </tbody>
  </table>
  </div>
  
  <hr>
  <h2>WinPin Coupons</h2>
  <p></p>
  <div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th>#</th>
        <th>User Id</th>
        <th>Coupon Code</th>
        <th>Coupon Date</th>
        <th>Expiry Date</th>
      </tr>
    </thead>
    <tbody>
    {% for c in winpin %}
    <tr>
        <td>*</td>
        <td>{{ c.userid.userid }}</td>
        <td>{{ c.couponcode }}</td>
        <td>{{ c.coupondate }}</td>
        <td>{{ c.expirydate }}</td>

      </tr>
    	
	{% endfor %}
      
    </tbody>
  </table>
  </div>
  
</div>

</body>
</html>

