
<!DOCTYPE html>
<html lang="en">
<head>
  <title>DjangoDude B20</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


  <script src="https://connect.facebook.net/en_US/all.js" type="text/javascript"></script>
  <script type="text/javascript">
      $(document).ready(function () {

          FB.init({
              appId: '164634497289790', // FB App ID
              cookie: true,  // enable cookies to allow the server to access the session
              xfbml: true,  // parse social plugins on this page
              version: 'v2.8' // use graph api version 2.8
          });

          // Check whether the user already logged in
          FB.getLoginStatus(function (response) {
              if (response.status === 'connected') {
                  //display user data
                  //$('#AccessToken').val(response.authResponse.accessToken);
                  getFbUserData();
              }
          });
      });
  </script>
  <script>
      window.fbAsyncInit = function () {
          // FB JavaScript SDK configuration and setup

      };

      // Load the JavaScript SDK asynchronously

      // Facebook login with JavaScript SDK
      function fbLogin() {
          FB.login(function (response) {
              if (response.authResponse) {
                  // Get and display the user profile data
                  getFbUserData();
              } else {
                  document.getElementById('status').innerHTML = 'User cancelled login or did not fully authorize.';
              }
          }, {scope: 'email'});
      }

      // Fetch the user profile data from facebook
      function getFbUserData() {
          FB.api('/me', {locale: 'en_US', fields: 'id,first_name,last_name,email,link,gender,locale,picture'},
              function (response) {
                  document.getElementById('fbLink').setAttribute("onclick", "fbLogout()");
                  document.getElementById('fbLink').innerHTML = 'Logout from Facebook';
                  document.getElementById('status').innerHTML = 'Thanks for logging in, ' + response.first_name + '!';
                  document.getElementById('userData').innerHTML = '<p><b>FB ID:</b> ' + response.id + '</p><p><b>Name:</b> ' + response.first_name + ' ' + response.last_name + '</p><p><b>Email:</b> ' + response.email + '</p><p><b>Gender:</b> ' + response.gender + '</p><p><b>Locale:</b> ' + response.locale + '</p><p><b>Picture:</b> <img src="' + response.picture.data.url + '"/></p><p><b>FB Profile:</b> <a target="_blank" href="' + response.link + '">click to view profile</a></p>';
              });
      }

      // Logout from facebook
      function fbLogout() {
          FB.logout(function () {
              document.getElementById('fbLink').setAttribute("onclick", "fbLogin()");
              document.getElementById('fbLink').innerHTML = '<img src="fblogin.png"/>';
              document.getElementById('userData').innerHTML = '';
              document.getElementById('status').innerHTML = 'You have successfully logout from Facebook.';
          });
      }
  </script>
</head>
<body>

<div class="container">
  <h2>Register new user</h2>
  <form class="form-inline">
    <div class="form-group">
      <label for="email">Email:</label>
      <input type="email" class="form-control" id="email" placeholder="Enter email">
    </div>
    <div class="form-group">
      <label for="pwd">Password:</label>
      <input type="password" class="form-control" id="pwd" placeholder="Enter password">
    </div>
    
    <button type="submit" class="btn btn-default">Submit</button>

    
  </form>
      <br>
  <form action="{% url 'reg_user' %}" method="POST">
    {% csrf_token %}
      <button type="submit" class="btn btn-default">Auto Register</button>
    <input type="textbox" name="data">
  </form>



<hr>
  <h2>Registered Users</h2>
  <p></p>
  <div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th>#</th>
        <th>UserId</th>
        <th>Name</th>
        <th>EmailId</th>
        <th>Created On</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
    {% for user in users %}
    <tr>
        <td> {{ forloop.counter }} </td>
        <td><a href={% url 'user_details' uid=user.userid %}>
    {{ user.userid }} </a></td>
        <td>{{ user.username }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.createdate }}</td>
      <td>

        <form action="{% url 'reg_user' %}" method="POST">
          {% csrf_token %}
          <button type="submit" class="btn btn-default">Re Register</button>
          <input type="hidden" name="id" value="{{user.userid}}">
        </form>
      </td>
    </tr>
   	
	{% endfor %}
      
    </tbody>
  </table>
  </div>
</div>

</body>
</html>

