
<!DOCTYPE html>
<html lang="en">
<head>
  <title>DjangoDude B20</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <h2>Get Voucher</h2>
   <form action="{% url 'quizb20' uid=user.userid %}" method="POST">
    {% csrf_token %}
      <center><button type="submit" id="getQues" class="btn btn-default">Get Coupon</button><br>
  </form>

  <form action="{% url 'bmsquizb20' uid=user.userid %}" method="POST">
    {% csrf_token %}
      <center><button type="submit" id="getBmsQues" class="btn btn-default">Get BmSCoupon</button>
  </form>
   
  </center> 


<hr>
  <h2>B20 Vouchers</h2>
  <p></p>
  <div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th>#</th>
        <th>Coupon Code</th>
        <th>Coupon Date</th>
       
      </tr>
    </thead>
    <tbody>
    {% for c in coupons %}
    <tr>
        <td>{{ forloop.counter }}</td>
        <td>{{ c.couponcode }}</td>
        <td>{{ c.coupondate }}</td>
       

      </tr>
    	
	{% endfor %}
      
    </tbody>
  </table>
  </div>
  <hr>
  <h2>WinPin Coupons</h2>
  <p></p>
  <div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th>#</th>
        <th>User Id</th>
        <th>Coupon Code</th>
        <th>Coupon Date</th>
        
      </tr>
    </thead>
    <tbody>
    {% for c in winpin %}
    <tr>
        <td>{{ forloop.counter }}</td>
        <td>{{ c.userid.userid }}</td>
        <td>{{ c.couponcode }}</td>
        <td>{{ c.coupondate }}</td>
        

      </tr>

	{% endfor %}

    </tbody>
  </table>
  </div>
</div>




</body>
</html>

